* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  padding: 5px;

}
.container {
  display: flex;
  width: 100%;
  padding: 10px;
  gap: 10px;
}
.buttons {
  width: 250px;
}
.files {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 10px;
  height: 700px;
}
tbody{
  width: 100%;
}
tr{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
td{
  flex: 1;
}
.tdName{
  flex: 3;
}
button,
.btn {
  padding: 10px;
  background-color: cornflowerblue;
  border: 1px solid cornflowerblue;
  border-radius: 10px;
  margin: 2px;
  color: white;
}
button:hover,
.btn:hover {
  border: 1px solid cornflowerblue;
  background-color: darkturquoise;
}
button:disabled,
.btn:disabled {
  opacity: 0.5;
  background-color: cornflowerblue;
  border: 1px solid cornflowerblue;
}

.new_folder,
.new_file,
.rename_folder {
  /* display: none; */
  /* position: absolute; */
  flex-direction: column;
  left: calc(50% - 100px);
  top: calc(50% - 50px);
  background-color: cornflowerblue;
  padding: 20px;
}
.flex {
  display: flex;
  justify-content: center;
  flex: 1;
}
.column {
  flex-direction: column;
}
#new_folder {
  flex: 1;
  border-radius: 10px 0 0 10px;
}
#new_file {
  flex: 1;
  border-radius: 0 10px 10px 0;
}
#rename_folder {
  flex: 1;
}
#files {
  flex: 1;
}
label {
  text-align: center;
}
#path {
  display: flex;
  gap: 10px;
  margin: 10px;
}
.icon {
  height: 40px;
}
.editor {
  display: flex;
  font-family: monospace;
  border: 1px solid black;
}
.line-numbers {
  user-select: none;
  text-align: right;
  padding-right: 10px;
  background: #f0f0f0;
  color: #888;
  border-right: 1px solid #ccc;
  background-color: inherit;
  color: inherit;
}
.line-numbers div {
  height: 1.2em;
}
textarea {
  flex: 1;
  border: none;
  outline: none;
  resize: none;
  line-height: 1.2em;
  font-family: inherit;
  padding-left: 5px;
  background: inherit;
  color: inherit;
  font-size: inherit;
}

.editor.light {
  background-color: white;
  color: black;
}

.editor.dark {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.editor.solarized {
  background-color: #fdf6e3;
  color: #657b83;
}
canvas{
  max-width: 100%;
  max-height: 100%;
}

.filtersInline{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.filtersInline p{
  text-align: center;
  margin: 5px;
}
.filtersInline div div{
  border-radius: 10px;
}
.closeFilters{
  width: 200px;
  height: 40px;
  border-radius: 20px;
}
.filters{
  padding: 10px;
  width: 700px;
  height: 300px;
  position: absolute;
  left: calc(50% - 350px);
  top: 0;
  border-radius: 0 0 20px 20px;
  border: 1px solid white;
}